# ========================
# Terraform Directories & State Files
# ========================
.terraform/
*.tfstate
*.tfstate.backup
*.log
.terraform.lock.hcl

# ========================
# Sensitive Variables (Global)
# ========================
terraform.tfvars
*.env

# Allow environment-specific .tfvars and .conf files
!environments/**/*.tfvars
!environments/**/*.conf

# ========================
# IDE / OS Files
# ========================
.vscode/
.idea/
.DS_Store
*.bak
*.swp

# ========================
# Binary or Compressed Files
# ========================
*.zip
*.exe
*.dll
*.msi
*.iso
*.gz

# ========================
# Node / Python / Other Project Files
# ========================
node_modules/
__pycache__/
